
/* -------> CSS for the Superhero favourite page <------- */

:root{ 
    --navbar-light-color: rgb(223,175,35);
    --navbar-dark-color: rgb(192, 90, 107); 
}

[color-scheme="dark"]{ 
    --navbar-color: var(--navbar-dark-color); 
}

[color-scheme="light"]{ 
    --navbar-color: var(--navbar-light-color); 
}

body{
    overflow-x: hidden;
    font-family: 'Creepster', cursive;
}

.cards-container{
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}
.character-info .btn{ 
    width: 100%;
}

.card{
    background-color: rgb(219, 151, 156);
    height: 484px;
    width: 250px;
    margin: 40px 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    gap: 5px;
    z-index: 2;
    backdrop-filter: blur(3px);
}

.card:hover{
    transition: transform .5s;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    }


.card img{
    border-radius: 30px 30px 0 0;
}

.name{
    font-size: 20px;
}

.remove-btn{
    border-radius: 20px;
}

.no-characters{
    font-size: 40px;
    color: var(--text-color);
}

/* Wiggle Animation */

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}

.wiggle-animation {
    animation: wiggle 0.5s;
}

/* Fade-in Animation */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}